.mobile {
  display: none;
}
.jersey_name {
  color: #e8d606;
}
.cancel_btn, .reset_btn, .save_btn, .clear_btn {
  float: right;
  padding: 5px;
  color: #e8d606;
  margin-top: 10px;
  background-color: #11013b;
  font-family: 'Lato', sans-serif;
}
.reset_btn {
  margin-top: 0;
  line-height: 1;
}
.cancel_btn:hover, .reset_btn:hover, .save_btn:hover, .clear_btn:hover {
  margin: -1px;
  border: 1px solid yellow;
  margin-top: 9px;
}
.reset_btn:hover {
  margin-top: 0;
  margin: -1px;
}
.sport_box {
  margin: 0 15px 10px 0
}
.btn_spacer {
  float: right;
  margin-right: 10px;
}
#description_container {
  float: right;
  padding: 50px 50px 0 0;
}
#image_container {
  float:left;
  margin: 30px 0 10px 30px;
}
#product_img {
  width: 288px;
  height: 240px;
}
#image_container a {
  cursor:url(../images/zoom.cur.png), -moz-zoom-in;
}
#color_container {
  text-align: center;
  margin-bottom: 10px;
}
#color_select {
  display: inline-block;
  padding: 0 20px 10px 0;
}
.color_option {
  text-align:center;
  margin-left: 20px;
  display: inline-block;
}
.color_selectors {
  display:inline-block;
}
.color_radio {
  float:left;
  padding: 12px 15px 0px 0;
}
.color_img {
  float: left;
  padding-top: 10px;
}
.color {
  text-align:center;
}
#order_prices {
  width:100%;
  text-align: center;
  margin-top: -5px;
  color: #cccdce;
}
.spacer {
  padding-left: 25px;
}
#selections {
  background: -webkit-linear-gradient(#737373, #323232); /* For Safari */
  background: -o-linear-gradient(#737373, #323232); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#737373, #323232); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#737373, #323232); /* Standard syntax (must be last) */
  text-align: left;
  margin-top: 20px;
  color: #e8d606;
  padding: 10px;
  line-height: 2;
}
#selections select, input {
  margin-top: 5px;
}
.shorts_show {
  display: none;
}
#price_calc {
  text-align: center;
  background-color: #e8d606;
  padding: 10px;
  font-size: 1.3rem;
  margin-bottom: 5px;
}
#price_calc table {
  margin: auto;
  border-spacing: 10px;
}
#price_calc table td {
  vertical-align: middle;
}
#calculating {
  display: none;
}
#calculating img {
  margin-bottom: -5px;
}
#sub_selections table {
  color: #e8d606;
  text-align: center;
}
#custom_logo_cost font {
  color: #e8d606;
}
#sub_selections .input_num {
  width: 85px;
}
#order_qty {
  text-align: center;
  width: 45px;
}
#print_numbers_yes {
  display: none;
}
.add_on {
  display: none;
  padding-left: 10px;
}
.remove_span {
  padding-left: 10px;
}
#next_step {
  text-align: center;
  margin-top:50px;
}
#reset_btn_container {
  float: right;
}
.next_btn {
  padding: 5px;
  color: #11013b;
  background-color: #e8d606;
  font-family: 'Lato', sans-serif;
}
.next_btn:hover{
  color: #e8d606;
  background-color: #11013b;
  margin: -1px;
  border: 1px solid yellow;
}
.mock_btn {
  color: #11013b;
  font-weight: 700;
}
.input_num {
  width: 85px;
}
.set_size {
  cursor: pointer;
}
.set_name {
  cursor: pointer;
  text-transform: uppercase;
}
.hide {
  display: none;
}
.transparent {
  color: transparent;
  opacity: 0;
}
.slide .inner {
font-family: 'Lato', sans-serif;
font-weight: 400;
text-align: center;
position: absolute;
left: 0;
bottom: 0;
height: auto;
width: 100%;
padding: 10px;
color: #666666;
font-size: 1.3rem;
background: #e8d606;
}
table#jersey_details {
  margin: 0 auto;
}

/* Float */
.float {
  color: #cccdce;
  display: inline-block;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.float:hover {
  color: #e8d606 !important;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

/* Details Table */
#sub_selections table  {
  width: auto;
  margin: -20px auto 0;
  table-layout: auto;
  text-align: left;
  border-spacing: 10px;
}
#sub_selections tr, #sub_selections td {
  padding: 0;
/*  border: 1px solid red;*/
}
.size_select, .number_input, .name_input {
  margin-top: 0;
  vertical-align: text-bottom;
}
#sub_selections input {
  text-align: center;
}
.name_input, .newname_input {
  width: 135px;
}
.jersey_size {
  text-align: left;
  min-width: 75px;
}
.btns {
  display: inline-block;
  color: #cccdce;
}
