vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|11 Dec 2006 03:12:12 -0000
vti_extenderversion:SR|5.0.2.6790
vti_backlinkinfo:VX|ssl/customerLogin.asp ssl/process_order.asp ssl/password.asp ssl/verify.asp ssl/confirm.asp
vti_lineageid:SR|{2FFFADFC-9DB7-4754-90AA-59446EDB9784}
vti_author:SR|AI1022\\gamewear
vti_modifiedby:SR|WEB17\\gamewearnow.com_fp
vti_nexttolasttimemodified:TW|11 Dec 2006 03:12:12 -0000
vti_timecreated:TR|12 Dec 2006 06:00:36 -0000
vti_syncwith_gamewear.sandshot.net\:80:TW|11 Dec 2006 03:12:12 -0000
vti_usagebymonth:UX|56 145 197 170 216 209 19 181 165 237 250 65 165
vti_usagebyweek:UX|12 36 30 19 47
vti_usagebyday:UX|5 3 4 6 9 1 1 8
vti_usagelastupdated:TX|13 Jan 2010 04:59:59 -0000
vti_usagetotalhits:IX|2075
vti_syncwith_www.gamewearnow.com\:80:TW|11 Dec 2006 03:12:12 -0000
vti_cacheddtm:TX|12 Dec 2006 06:00:36 -0000
vti_filesize:IR|24136
vti_cachedlinkinfo:VX|S|TEXTURE5.jpg S|TEXTURE5.jpg S|../images/background\\ 2.JPG S|../images/background\\ 2.JPG S|../images/background\\ 2.JPG S|../images/arrow_left.gif S|../images/bullet.gif S|../images/NoImage.gif S|../ssl/ssAdmin/images/PENCIL01.ICO S|../ssl/ssAdmin/images/PENCIL01.ICO
vti_cachedsvcrellinks:VX|NSUS|ssl/include_commonElements/TEXTURE5.jpg NSUS|ssl/include_commonElements/TEXTURE5.jpg NSUS|ssl/images/background\\ 2.JPG NSUS|ssl/images/background\\ 2.JPG NSUS|ssl/images/background\\ 2.JPG NSUS|ssl/images/arrow_left.gif NSUS|ssl/images/bullet.gif NSUS|ssl/images/NoImage.gif NSUS|ssl/ssl/ssAdmin/images/PENCIL01.ICO NSUS|ssl/ssl/ssAdmin/images/PENCIL01.ICO
