vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|10 Dec 2006 05:07:20 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{05D4CA24-9765-4052-9F53-B890323A91FF}
vti_backlinkinfo:VX|
vti_author:SR|AI1022\\gamewear
vti_modifiedby:SR|WEB17\\gamewearnow.com_fp
vti_nexttolasttimemodified:TW|10 Dec 2006 05:07:20 -0000
vti_timecreated:TR|12 Dec 2006 06:04:15 -0000
vti_syncwith_gamewear.sandshot.net\:80:TW|10 Dec 2006 05:07:20 -0000
vti_syncwith_www.gamewearnow.com\:80:TW|10 Dec 2006 05:07:20 -0000
vti_cacheddtm:TX|12 Dec 2006 06:04:14 -0000
vti_filesize:IR|9085
vti_cachedlinkinfo:VX|S|images\\\\arrow_left.gif
vti_cachedsvcrellinks:VX|NSUS|/ssl/include_commonElements/images\\\\arrow_left.gif
