vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Dec 2006 04:25:12 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{ECA9BA76-6C1F-4560-AC23-4F3069D1CA0E}
vti_backlinkinfo:VX|
vti_author:SR|WEB17\\gamewearnow.com_fp
vti_modifiedby:SR|WEB17\\gamewearnow.com_fp
vti_nexttolasttimemodified:TR|12 Dec 2006 04:25:12 -0000
vti_timecreated:TR|06 May 2010 15:24:17 -0000
vti_syncwith_www.gamewearnow.com\:80:TR|12 Dec 2006 04:25:12 -0000
vti_cacheddtm:TX|12 Dec 2006 04:25:12 -0000
vti_filesize:IR|3756
vti_cachedlinkinfo:VX|S|bottombkgrd.gif S|left.gif S|rightbkgrd.gif S|topbkgrd.gif
vti_cachedsvcrellinks:VX|NSUS|ssl/admin/Copy\\ of\\ ssAdmin/ImageManager/readme_files/bottombkgrd.gif NSUS|ssl/admin/Copy\\ of\\ ssAdmin/ImageManager/readme_files/left.gif NSUS|ssl/admin/Copy\\ of\\ ssAdmin/ImageManager/readme_files/rightbkgrd.gif NSUS|ssl/admin/Copy\\ of\\ ssAdmin/ImageManager/readme_files/topbkgrd.gif
