vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|10 Dec 2006 05:09:34 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{C1CACEED-60BF-4756-A1BC-4A075FBE4E2A}
vti_backlinkinfo:VX|
vti_author:SR|AI1022\\gamewear
vti_modifiedby:SR|WEB17\\gamewearnow.com_fp
vti_nexttolasttimemodified:TW|10 Dec 2006 05:09:34 -0000
vti_timecreated:TR|12 Dec 2006 06:00:14 -0000
vti_syncwith_gamewear.sandshot.net\:80:TW|10 Dec 2006 05:09:34 -0000
vti_usagebymonth:UX|35 80 80 89 115 87 6 78 94 102 109 29 84
vti_usagebyweek:UX|11 24 12 9 20
vti_usagebyday:UX|1 2 8 0 1 1 4 6
vti_usagelastupdated:TX|13 Jan 2010 04:59:59 -0000
vti_usagetotalhits:IX|988
vti_syncwith_www.gamewearnow.com\:80:TW|10 Dec 2006 05:09:34 -0000
vti_cacheddtm:TX|12 Dec 2006 06:00:14 -0000
vti_filesize:IR|1179
