table {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #666666;
}
table td{
  vertical-align: top;
}
ol {
  margin-left: 20px;
}
span, ol, td p span  {
  color: #11013b;
}
td p span {
  color: #11013b;
}
#container {
  width: 75%;
  margin: 3% auto 0;
}
#left_content {
  width: 10%;
}
#box_btns {
  float: left;
}
.box_btn {
  display: block;
  margin: 0 15px 10px 0;
}
#order_fast_box {
  opacity: 1;
}
#right_content {
  padding: 50px 30px;
  text-align: left;
  background-color: white;
}
#shipping_line {
  font-style: italic;
  padding: 0 5px 0 25px;
}
#shippingDate {
  font-weight: bold;
}
#break {
  display: none;
}
.shipping_options {
  margin-left: 50px;
}
#ups_zones_map {
  text-align: center;
}
#text_only a {
  color: blue;
}