vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|10 Dec 2006 05:08:52 -0000
vti_extenderversion:SR|5.0.2.6790
vti_backlinkinfo:VX|ssl/ssAdmin/adminHeader.asp
vti_lineageid:SR|{AA0D9BB4-9C0C-492C-B0AD-F93A7A515041}
vti_author:SR|AI1022\\gamewear
vti_modifiedby:SR|WEB17\\gamewearnow.com_fp
vti_nexttolasttimemodified:TW|10 Dec 2006 05:08:52 -0000
vti_timecreated:TR|12 Dec 2006 06:02:05 -0000
vti_syncwith_gamewear.sandshot.net\:80:TW|10 Dec 2006 05:08:52 -0000
vti_usagebymonth:UX|142 304 340 310 366 342 42 278 382 438 522 119 286
vti_usagebyweek:UX|38 104 44 55 59
vti_usagebyday:UX|11 15 12 3 9 15 13 24
vti_usagelastupdated:TX|13 Jan 2010 04:59:59 -0000
vti_usagetotalhits:IX|3871
vti_syncwith_www.gamewearnow.com\:80:TW|10 Dec 2006 05:08:52 -0000
vti_cacheddtm:TX|12 Dec 2006 06:02:05 -0000
vti_filesize:IR|947
