.mobile_box_btn span {
  font-size: 1.3em;
  margin: 2px 0 0 0;
}
.box_btn span {
  margin-top: -10px;
  font-size: 1.25em;
  line-height: 16pt;
  font-weight: bold;
}
.yellow.box_btn span {
  line-height: 14pt;
}
.box_btn a:hover span{
  margin-top: -5px !important;
}