.mobile_box_btn span {
  margin: 0;
}
.mobile_box_btn a:hover span {
  margin-top: 6px !important;
}
.box_btn span {
  font-size: 1.25em;
  line-height: 12pt;
  font-weight: bold;
}
.box_btn a:hover span {
  margin-top: 10px !important;
}