#wrapper {
  text-align: center;
  position: relative;
}
#gwn_logo {
  float: none;
  text-align: center;
  margin: -25px 0 0 -50px;
}
#gwn_logo img {
  width: 300px;
}
#heading {
  text-align: left;
  float: none;
  margin: -75px 0 5px 0;
}
#title {
  font-weight: 900;
  font-size: 1.6em !important;
}
#sub_title {
  font-weight: 700;
  font-size: .75em !important;
}
#container {
  text-align: center;
  margin-bottom: 25px;
}
#desktop_content {
  text-align: center;
}
#box_btns {
  display: none;
}
#mobile_btns {
  margin: 0 auto;
  display: block;
}
.home_mobile_box span {
  font-size: 1.3em;
}
.mobile_box_btn {
  vertical-align: middle;
  margin-bottom: 5px;
  position: relative;
}
.box_btn {
  margin: 0;
}
.box_btn img {
  width: 140px;
}
.box_btn span {
  font-size: 1.25em;
  font-weight: bold;
}
.mobile_box_btn {
  vertical-align: middle;
  margin-bottom: 5px;
  position: relative;
}
.mobile_box_btn img {
  width: 100% !important;
  position: relative;
}
.mobile_box_btn a:hover {
  font-weight: bold;
}
.mobile_box_btn a:hover img {
  opacity: 0.8;
}
.mobile_box_btn span {
  top: 0;
  bottom: 0;
  left: 20px;
  right: 0;
  height: 50%;
  width: 100%;
  text-align: center;
  position: absolute;
  margin: auto;
  color: #e8d606;
  font-size: 1.3em;
  font-family: 'Josefin Sans', sans-serif;
}
#call_to_action {
  width: 145px;
  float: right;
  padding: 5px 0 0 0;
  margin-left: 0;
  border:1px solid red;
}
.title_txt li {
  font-size: 0.70em;
}
.yellow.box_btn span {
  font-weight: normal;
}
ul#vertical-list {
  list-style-position:inside;
  margin-left: 5px;
  padding:0;
  line-height: 4;
  text-align: left;
}
ul#horizontal-nav {
  text-align: center;
}
ul#horizontal-nav li {
  display: block;
  padding-right: 0px;
}
.pipe {
  display: none !important;
}
#footer {
  position: absolute;
}
#shopping_cart  {
  display: none;
}