.jersey_name {
  color: #e8d606;
}
.cancel_btn, .reset_btn, .save_btn, .clear_btn, .cancel_form_btn {
  float: right;
  padding: 5px;
  color: #e8d606;
  margin-top: 10px;
  background-color: #11013b;
  font-family: 'Lato', sans-serif;
}
.cancel_btn:hover, .reset_btn:hover, .save_btn:hover, .clear_btn:hover {
  margin: -1px;
  border: 1px solid yellow;
  margin-top: 9px;
}
.cancel_form_btn:hover {
  color: #11013b;
  background-color: #e8d606;
}
.mock_btn {
  color: #11013b;
  font-weight: 700;
}
.reset_btn {
  margin-top: 0;
  line-height: 1;
}
.reset_btn:hover {
  margin-top: 0;
  margin: -1px;
}
.dropdown {
  float: right;
  padding-top: 7px;
}
.info_btn {
  float:right;
  width:20px;
  height:20px;
  margin: -1px 0 0 5px;
}
.btn_spacer {
  margin-right: 10px;
}
.sport_box {
  margin: 0 15px 10px 0
}
#description_container {
  float: right;
  padding: 50px 50px 0 0;
}
#image_container {
  /*float:left;*/
  /*margin: 30px 0 10px 30px;*/
  margin:   30px 50px 10px 50px;
}
#front {
  position: relative;
  left:0;
  top:0;
  float: left;
}
#back {
  position: relative;
  left:0;
  top:0;
  float: right;
  margin-right: 30px;
}
#image_container a {
    cursor:url(../images/zoom.cur.png), -moz-zoom-in;
}
#product_img {
  width: 288px;
  height: 240px;
}
.product_img_element {
  width: 288px;
  height: 240px;
  position: absolute;
  top: 0;
  left: 0;
}
.chest {
  padding-top: 10px;
}
#front_elements img {
  margin-left: 2px;
}
.lb-container .back_element {
  margin-left: 2px;
}
/*#back_elements img {
  margin-left: 2px;
}*/
#color_container {
  text-align: center;
  margin-bottom: 10px;
}
#color_select {
  display: inline-block;
  padding: 0 20px 10px 0;
}
.color_option {
  text-align:center;
  margin-left: 20px;
  display: inline-block;
}
.color_selectors {
  display:inline-block;
}
.color_radio {
  float:left;
  padding: 12px 15px 0px 0;
}
.color_img {
  float: left;
  padding-top: 10px;
}
.color {
  text-align:center;
}
.disclaimer {
  width:100%;
  text-align: center;
  padding-top: 10px;
  color: #666666;
}
.spacer {
  padding-left: 25px;
}
#selections {
  background: -webkit-linear-gradient(#737373, #323232); /* For Safari */
  background: -o-linear-gradient(#737373, #323232); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#737373, #323232); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#737373, #323232); /* Standard syntax (must be last) */
  text-align: left;
  /*margin-top: 20px;*/
  color: #e8d606;
  padding: 10px;
  line-height: 2;
}
#selections font,
#sub_selections table font {
  color: #cccdce;
}
.shorts_show {
  display: none;
}
#price_calc {
  text-align: center;
  background-color: #e8d606;
  padding: 10px;
  font-size: 1.3rem;
  margin-bottom: 25px;
}
#price_calc table {
  margin: auto;
  border-spacing: 10px;
}
#price_calc table td {
  vertical-align: middle;
}
#calculating {
  display: none;
}
#calculating img {
  margin-bottom: -5px;
}
#sub_selections table {
  color: #e8d606;
  text-align: center;
}
#custom_logo_cost font {
  color: #e8d606;
}
#sub_selections .input_num {
  width: 85px;
}
#order_qty {
  text-align: center;
  width: 45px;
}
#print_numbers_yes {
  display: none;
}
.add_on {
  display: none;
  padding-left: 10px;
}
.remove_span {
  padding-left: 10px;
}
#reset_btn_container {
float: right;
margin: 10px 27px 0 0;
}
#finalize_order {
  text-align: center;
  margin-top:25px;
}
.finalize_btn, .upload_btn {
  padding: 5px;
  color: #11013b;
  background-color: #e8d606;
  font-family: 'Lato', sans-serif;
}
.upload_btn {
  padding: 2px 5px 3px;
}
.finalize_btn:hover {
  color: #e8d606;
  background-color: #11013b;
  margin: -1px;
  border: 1px solid yellow;
}
.upload_btn:hover {
  color: #e8d606;
  background-color: #11013b;
}
input {
  text-align:center;
}
.dev {
  display: none;
}
.results {
  color: red;
}
.slide .inner {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  padding: 10px;
  color: #666666;
  font-size: 1.3rem;
  background: #e8d606;
}
.upload_inner {
  position: relative;
  padding: 10px;
  font-size: 1rem;
  height: auto;
  background: white;
}
.front_element, .back_element, .front_back_element {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}
.upload_form_section {
  display: none;
  overflow: auto;
}
#logo_upload {
  float: right;
  padding-right: 2px;
  margin-top: -7px;
}
#reply_email{
  margin: 20px 10px;
  width: 150px;
  text-align: left;
}
#myForm label {
  font-weight: bold;
}
#upload_contols {
  margin-top: 10px;
  display: none;
}
#progress {
  position:relative;
  width:500px;
  border: 1px
  solid #ddd;
  padding: 1px;
  border-radius: 3px;
  margin: 0 auto;
  display: none;
}
#bar {
  background-color: #32cd32;
  width:0%;
  height:25px;
  border-radius: 3px;
}
#percent {
  position:absolute;
  display:inline-block;
  top:3px;
  left:48%;
}
#message {
  width: auto;
  padding-bottom: 10px;
  text-align: center;
  font-weight: bold;
}
.custom-file-upload-hidden {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}
.custom-file-upload {
  display: block;
  width: auto;
  font-size: 16px;
  margin-top: 30px;
}
.custom-file-upload label {
  display: block;
  margin-bottom: 5px;
}
.file-upload-wrapper {
  position: relative;
  margin-bottom: 5px;
}
.file-upload-input {
  width: 500px;
  color: #11013b;
  font-size: 10pt;
  border: none;
  background-color: transparent;
  text-align: left;
  padding: 7px 0 0 10px;
  /* IE 9 Fix */
}
.file-upload-input:hover, .file-upload-input:focus {
  background-color: transparent;
  outline: none;
}

/* Glow */
.check-glow {
  display: inline-block;
/*  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);*/
  border-radius: 50%;
  box-shadow: 0 0 1px rgba(232, 214, 6, 0);
}

.check-glow:hover {
  box-shadow: 0 0 10px rgba(232, 214, 6, 0.9);
}
.info-glow {
  display: inline-block;
/*  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);*/
  border-radius: 50%;
  box-shadow: 0 0 1px rgba(17, 1, 59, 0);
}

.info-glow:hover {
  box-shadow: 0 0 10px rgba(17, 1, 59, 0.9);
}
#team_name_right_element, #teamLetteringrightColorOverlay {
  margin-left: -12px;
}