#wrapper {
  text-align: center;
  position: relative;
  overflow: hidden;
}
#gwn_logo {
  text-align: center;
  float: none;
  margin: -25px 0 0 -50px;
}
#gwn_logo img {
  width: 300px !important;
}
#heading {
  display: none;
}
#container {
  text-align: center;
  width: 315px;
  height: auto;
  margin: 3% auto 10%;
}
#detail_instructions {
  display: none;
}
.mobile {
  display: block;
}
.desktop_row {
  opacity: 0;
}
.line_break {
  margin-top: 20px;
}
#mobile_table {
  display: block;
  margin-top: -50px;
}
#left_content {
  display: none;
}
#right_content {
  padding: 0;
  max-width: 310px;
}
#mobile_btns {
  margin: 0 auto;
  display: block;
}
#mobile_btns {
  display: inline-block;
}
table.mobile_fix {
  margin-top: 10px;
}
input[type="radio"] {
  opacity: 0;
}
.color_radio {
  float: none;
  padding: 0;
}
#color_select {
  margin-top: -20px;
}
.color {
  display: none;
}
#order_prices span:first-of-type {
  float: left;
}
.spacer {
  padding-left: 0;
  float: right;
}
#selections {
  line-height: 1.2;
}
.mobile_box_btn {
  vertical-align: middle;
  margin-bottom: 5px;
  position: relative;
}
.mobile_box_btn img {
  width: 100% !important;
  position: relative;
  opacity: .8;
}
.mobile_box_btn a:hover img {
  opacity: 1;
}
.mobile_box_btn span {
  top: 0;
  bottom: 0;
  left: 20px;
  right: 0;
  height: 50%;
  width: 100%;
  text-align: center;
  position: absolute;
  margin: auto;
  color: #e8d606;
  font-size: 1.3em;
  font-family: 'Josefin Sans', sans-serif;
}
#home_mobile_box_btn span {
  left: 0;
  font-size: 1.2em;
}
.break {
  display: none;
}
.top_link {
  margin-bottom: 20px;
}
#image_container {
  margin: 25px 0 0 0;
  float: none;
  text-align: center;
}
#description_container {
float: none;
padding: 10px 0 10px 10px;
line-height: 1.5;
}
.add_on {
  display: none !important;
}
#reset_btn_container {
  float: left;
}
#sub_selections table {
  border-collapse: collapse;
  margin-top: -20px;
}
#custom_logo_note {
  font-weight: 100;
  margin-left: 20px;
}
.slide .inner {
  line-height: 1.5;
}
#save_clear_btns {
  float: left;
  width: auto;
}
.next_btn {
  float: right;
  margin-top: -40px;
}
.next_btn:hover {
  margin-top: -40px;
}
ul#vertical-list {
  list-style-position:inside;
  margin:0;
  padding:0;
  line-height: 4;
  text-align: left;
}
ul#horizontal-nav li {
  display: block;
  padding-right: 0px;
}
#horizontal-nav a:hover {
  color: #e8d606;
}
.pipe {
  display: none !important;
}
#footer {
  position: absolute;
}
#shopping_cart  {
  display: none;
}
#front {
  float: none;
}
#back {
  float: none;
  margin-right: 0;
}
#front_elements img.left {
  margin-left: 12px;
}
#back_elements img.left {
  margin-left: 5px;
}
img.left.chest {
  padding-top: 10px;
}
#front_elements img.right {
  margin-left: 15px;
}
#back_elements img.right {
  margin-left: 15px;
}
img.right.chest {
  padding-top: 10px;
}