#wrapper {
  text-align: center;
  position: relative;
}
#gwn_logo {
  text-align: center;
  float: none;
  margin: -25px 0 0 -75px;
}
#gwn_logo img {
  width: 350px;
}
#heading {
  display: none;
}
#container {
  margin: -50px auto 25px;
}
#right_content {
  text-align: center;
}
#box_btns {
  display: none;
}
#mobile_btns {
  display: block;
}
.mobile_box_btn {
  vertical-align: middle;
}
.mobile_box_btn img {
  width: 300px;
}
.mobile_box_btn a:hover {
  font-weight: bold;
}
.mobile_box_btn a:hover img {
  opacity: 0.8;
}
.mobile_box_btn span {
  left: 70px;
  margin: 12px 0 0 !important;
  position: absolute;
  color: #e8d606;
  font-size: 1.3em;
  font-family: 'Josefin Sans', sans-serif;
  padding: 0;
}
.mobile_box_btn span#home_mobile_btn {
  left: 7px;
  font-size: 1.2em;
}
.mobile_box_btn {
  margin-bottom: 5px;
  position: relative;
}
.jersey {
  float: none;
  margin: 0 0 65px 0;
}
.price_select {
  margin: 0 75px;
}
ul#vertical-list {
  list-style-position:inside;
  margin:0;
  padding:0;
  line-height: 4;
  text-align: left;
}
ul#horizontal-nav li {
  display: block;
}
.pipe {
  display: none !important;
}
#footer {
  position: absolute;
}