table {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #666666;
}
table td{
  vertical-align: top;
}
#left_content {
  width: 10%;
}
#box_btns {
  float: left;
}
.box_btn {
  display: block;
  margin: 0 15px 10px 0;
}
#right_content {
  padding: 30px;
  text-align: left;
  background-color: white;
}
#text_only a {
  color: blue;
}