.Footer {
  color: #000000;
  font-weight: bold;
}

.AltFont1 {
  color: #000000;
}

.AltFont2 {
  color: #000000;
}

.Content_Small {
  font: 10pt Arial;
  color: #000000;
}

.Content_Large {
  font: 18pt Arial;
  color: #000000;
}

.ECheck {
  font: 12pt Arial;
  color: #000000;
}

.ECheck2 {
  font: 10pt Arial;
  color: #000000;
}

.Error {
  font: 13.5pt Arial;
  color: #FF0000;
}

.Middle_Top_Banner_Small {
  font: 12pt Arial;
  color: #000000;
}

.ContentBar_Small {
  font: 10pt Arial;
  color: #000000;
}

.TopBanner_Large {
  font: 13.5pt Arial;
  color: #000000;
}

body {
}

table, td, p {
  font: 10pt Arial;
  color: #000000;
}

table.Section
{
	border-collapse:collapse;
	border-color:Black
}

h1 {
  font: 12pt Arial;
  color: #000000;
  font-weight: bold;
}

.tdbackgrnd {
  background-color: white;
}

.tdTopBanner {
  color: #000000;
  background-color: steelblue;
  font-weight: bold;
}

.tdTopBanner2 {
  background-color: #XXXXXX;
}

.tdMiddleTopBanner {
  color: #000000;
  background-color: #XXXXXX;
  font-weight: bold;
}

.tdBottomTopBanner {
  color: #000000;
  background-color: #XXXXXX;
}

.tdBottomTopBanner2 {
  color: #000000;
  background-color: #XXXXXX;
}

.tdContent {
  background-color: #XXXXXX;
}

.tdContent2 {
  background-color: #XXXXXX;
}

.tdContent3 {
  background-color: #XXXXXX;
}

.tdContentBar {
  color: #000000;
  background-color: #XXXXXX;
  font-weight: bold;
}

.tdFooter {
  color: #000000;
  background-color: #XXXXXX;
  font-weight: bold;
}

.tdAltFont1 {
  color: #000000;
  background-color: #XXXXXX;
}

.tdAltFont2 {
  color: #000000;
  background-color: #XXXXXX;
}

.tdAltBG1 {
  background-color: #XXXXXX;
}

.tdAltBG2 {
  background-color: #XXXXXX;
}

A.NoLine:link
{
    COLOR: blue;
    TEXT-DECORATION: none
}
A.NoLine:visited
{
    COLOR: purple;
    TEXT-DECORATION: none
}
A.NoLine:hover
{
    COLOR: navy;
    TEXT-DECORATION: underline
}
A.NoLine:active
{
    COLOR: red;
    TEXT-DECORATION: none
}

.clsCurrentLocation
{
	font-size: 200%;
	font-family: verdana, arial, helvetica;
	font-style: italic;
	color: #6699CC;
}


A.clsCurrentLocation
{
    text-decoration: none
}
A.clsCurrentLocation:visited
{
   color: #6699CC;
}
A.clsCurrentLocation:hover
{
	color: black;
    text-decoration: underline
}

.clsMenuNavigation
{
	background-color: #6699CC;
	font-size: 100%;
	font-family: verdana, arial, helvetica;
	font-weight: bold;
	color:#ffffff;
}

A.clsMenuNavigation
{
	font-weight: bold;
	color:white;
    text-decoration: none
}
A.clsMenuNavigation:visited
{
	color:white;
}
A.clsMenuNavigation:hover
{
	color: yellow;
    text-decoration: underline
}

.clsMenuNavigationCurrent
{
	background-color: #6699CC;
	font-size: 100%;
	font-family: verdana, arial, helvetica;
	font-weight: bold;
	color: yellow;
}

.clsMenuHeader
{
	background-color: #6699CC;
	font-size: 100%;
	font-family: verdana, arial, helvetica;
	font-weight: bold;
	color: white;
}

.clsMenuBody
{
	background-color: #f1f1f1;
	font-size: 100%;
	font-family: verdana, arial, helvetica;
	font-weight: bold;
	color:#ffffff;
	text-align: left;
}

.clsMenuBodyLeft
{
	border-left:1px solid #6699CC;
	background-color: #f1f1f1;
	font-size: 100%;
	font-family: verdana, arial, helvetica;
	font-weight: bold;
	color:#ffffff;
	
}

.clsMenuBodyRight
{
	border-right:3px solid #6699CC;
	background-color: #f1f1f1;
	font-size: 100%;
	font-family: verdana, arial, helvetica;
	font-weight: bold;
	color:#ffffff;
	
}

.clsMenuContent
{
	background-color: #f1f1f1;
	font-size: 100%;
	font-family: verdana, arial, helvetica;
	font-weight: bold;
	color:#ffffff;
}

TD.clsMenuNavigationCat
{
	text-align: left;
}

A.clsMenuNavigationCat
{
	font-size: 75%;
	font-family: verdana, arial, helvetica;
	font-weight: bold;
	color:black;
    text-decoration: none
}
A.clsMenuNavigationCat:visited
{
	color:black;
}
A.clsMenuNavigationCat:hover
{
	color: #6699CC;
    text-decoration: underline
}

A.clsMenuNavigationCat_Selected
{
	font-size: 75%;
	font-family: verdana, arial, helvetica;
	font-weight: bold;
	color: #6699CC;
    text-decoration: none
}
A.clsMenuNavigationCat_Selected:visited
{
	color: #6699CC;
}
A.clsMenuNavigationCat_Selected:hover
{
	color: #6699CC;
    text-decoration: underline
}

A.clsMenuNavigationSubCat
{
	font-size: 75%;
	font-family: verdana, arial, helvetica;
	font-weight: normal;
	font-style:italic;
	color:black;
    text-decoration: none
}
A.clsMenuNavigationSubCat:visited
{
	color:black;
}
A.clsMenuNavigationSubCat:hover
{
	color: #6699CC;
    text-decoration: underline
}
A.clsMenuNavigationSubCat_Selected
{
	font-size: 75%;
	font-family: verdana, arial, helvetica;
	font-weight: normal;
	font-style:italic;
	color: #6699CC;
    text-decoration: none
}
A.clsMenuNavigationSubCat_Selected:visited
{
	color: #6699CC;
}
A.clsMenuNavigationSubCat_Selected:hover
{
	color: #6699CC;
    text-decoration: underline
}

A.clsMenuNavigationProduct
{
	font-size: 75%;
	font-family: verdana, arial, helvetica;
	font-weight: bold;
	font-style: italic;
	color: #6699CC;
    text-decoration: none
}
A.clsMenuNavigationProduct:visited
{
	color: #6699CC;
}
A.clsMenuNavigationProduct:hover
{
	color: black;
    text-decoration: underline
}


A.clsBottomMenuNavigation:link
{
	font-size: 100%;
	font-family: verdana, arial, helvetica;
	font-weight: bold;
	color: black;
    text-decoration: none
}

A.clsBottomMenuNavigation:visited
{
	font-size: 100%;
	font-family: verdana, arial, helvetica;
	font-weight: bold;
	color: black;
    text-decoration: none
}

A.clsBottomMenuNavigation:hover
{
	font-size: 100%;
	font-family: verdana, arial, helvetica;
	font-weight: bold;
	color: black;
    text-decoration: underline
}

A.clsBottomMenuNavigation:active
{
	font-size: 100%;
	font-family: verdana, arial, helvetica;
	font-weight: bold;
	color: black;
    text-decoration: none
}

A.copyright
{
    FONT-SIZE: 10pt;
    COLOR: gray;
    FONT-FAMILY: Arial, Arial, Helvetica;
    text-decoration: none
}
A.copyright:visited
{
   COLOR: gray;
}
A.copyright:hover
{
	color: #6699CC;
    text-decoration: underline
}

.inputImage
{
	border: border-width: 0;
}

.clsSearchBar
{
	background-color: lightgrey;
}

.clsSearchBarPagingText
{
	color: red;
	font-weight: bold;
}

.formDesign
{
	font-size: 12px;
}

h1.productName
{
  font: 14pt;
  font-weight:bold;
  margin-bottom: 6px;
}

h1.pageTitle
{
  font: 14pt;
  font-weight:bold;
  margin-bottom: 6px;
}

h2.productName
{
  font: 14pt;
  font-weight:bold;
  margin-bottom: 6px;
}

SELECT
{
	font-size: 12px;
}

.copyright
{
    FONT-SIZE: 10pt;
    COLOR: gray;
    FONT-FAMILY: Arial, Arial, Helvetica
}

.highlightSearch
{
	background-color: yellow;
	font-weight: bold;
}

.NOINDENT
{
    MARGIN-LEFT: 5pt;
    MARGIN-RIGHT: 5pt
}

LI.BestSellerListItem
{
	list-style-image: url(images\arrow_left.gif);
}

UL.clsMenu
{
	font-size: 12pt;
	font-family: verdana, arial, helvetica;
	font-weight: normal;
    text-decoration: none;
    PADDING-RIGHT: 0pt;
    MARGIN-LEFT: 5pt;
    MARGIN-RIGHT: 5pt;
    MARGIN-BOTTOM: 0;
    LIST-STYLE-TYPE: none
}

UL UL.clsMenu
{
    PADDING-RIGHT: 0pt;
    MARGIN-LEFT: 12pt;
    MARGIN-RIGHT: 5pt;
    LIST-STYLE-TYPE: disc
}
UL UL UL.clsMenu
{
    PADDING-RIGHT: 0pt;
    MARGIN-LEFT: 12pt;
    MARGIN-RIGHT: 5pt;
    LIST-STYLE-TYPE: square
}
UL UL UL UL.clsMenu
{
    PADDING-RIGHT: 0pt;
    MARGIN-LEFT: 12pt;
    MARGIN-RIGHT: 5pt;
    LIST-STYLE-TYPE: circle
}

UL.MainBody
{
	font-size: 12pt;
	font-family: verdana, arial, helvetica;
	font-weight: normal;
    text-decoration: none;
    PADDING-RIGHT: 0pt;
    MARGIN-LEFT: 5pt;
    MARGIN-RIGHT: 5pt;
    LIST-STYLE-TYPE: disc
}

.attExtDiv
{
	background-color:white;
	border-left-width:1px;
	border-right-width:1px;
	border-top-style:dotted;
	border-top-width:1px;
	border-left-style:none;
	border-right-style:none;
	border-top-style:none;
	border-bottom-style:solid;
	border-bottom-width:1px;
}

.attExtDivDefault
{
	background-color:lightgrey;
	border-left-width:1px;
	border-right-width:1px;
	border-top-style:dotted;
	border-top-width:1px;
	border-left-style:none;
	border-right-style:none;
	border-top-style:none;
	border-bottom-style:solid;
	border-bottom-width:1px;
}

A.attExtAttributeAnchor:link
{
}
A.attExtAttributeAnchor:visited
{
}
A.attExtAttributeAnchor:hover
{
	COLOR: red;
}
A.attExtAttributeAnchor:active
{
}

A.attExtAttributeDetailAnchor:link
{
}
A.attExtAttributeDetailAnchor:visited
{
}
A.attExtAttributeDetailAnchor:hover
{
    COLOR: red;
}
A.attExtAttributeDetailAnchor:active
{
}