BODY
{
font-family:verdana,arial,helvetica;
margin:0;
}

A.NoLine:link
{
    COLOR: blue;
    TEXT-DECORATION: none
}
A.NoLine:visited
{
    COLOR: purple;
    TEXT-DECORATION: none
}
A.NoLine:hover
{
    COLOR: navy;
    TEXT-DECORATION: underline
}
A.NoLine:active
{
    COLOR: red;
    TEXT-DECORATION: none
}

.clsCurrentLocation
{
	font-size: 200%;
	font-family: verdana, arial, helvetica;
	font-style: italic;
	color: #6699CC;
}


A.clsCurrentLocation
{
    text-decoration: none
}
A.clsCurrentLocation:visited
{
   COLOR: #6699CC;
}
A.clsCurrentLocation:hover
{
	color: black;
    text-decoration: underline
}

.clsMenuNavigation
{
	background-color: #6699CC;
	font-size: 100%;
	font-family: verdana, arial, helvetica;
	font-weight: bold;
	color:#ffffff;
}

A.clsMenuNavigation
{
	font-weight: bold;
	color:white;
    text-decoration: none
}
A.clsMenuNavigation:visited
{
	color:white;
}
A.clsMenuNavigation:hover
{
	color: yellow;
    text-decoration: underline
}

.clsMenuNavigationCurrent
{
	background-color: #6699CC;
	font-size: 100%;
	font-family: verdana, arial, helvetica;
	font-weight: bold;
	color: yellow;
}

.clsMenuHeader
{
	background-color: #6699CC;
	font-size: 100%;
	font-family: verdana, arial, helvetica;
	font-weight: bold;
	color:#ffffff;
}

.clsMenuBody
{
	background-color: #6699CC;
	font-size: 100%;
	font-family: verdana, arial, helvetica;
	font-weight: bold;
	color:#ffffff;
}

A.clsMenuNavigationCat
{
	font-size: 75%;
	font-family: verdana, arial, helvetica;
	font-weight: bold;
	color:black;
    text-decoration: none
}
A.clsMenuNavigationCat:visited
{
	color:black;
}
A.clsMenuNavigationCat:hover
{
	color: #6699CC;
    text-decoration: underline
}

A.clsMenuNavigationCat_Selected
{
	font-size: 75%;
	font-family: verdana, arial, helvetica;
	font-weight: bold;
	color: #6699CC;
    text-decoration: none
}
A.clsMenuNavigationCat_Selected:visited
{
	color: #6699CC;
}
A.clsMenuNavigationCat_Selected:hover
{
	color: #6699CC;
    text-decoration: underline
}

A.clsMenuNavigationSubCat
{
	font-size: 75%;
	font-family: verdana, arial, helvetica;
	font-weight: normal;
	font-style:italic;
	color:black;
    text-decoration: none
}
A.clsMenuNavigationSubCat:visited
{
	color:black;
}
A.clsMenuNavigationSubCat:hover
{
	color: #6699CC;
    text-decoration: underline
}
A.clsMenuNavigationSubCat_Selected
{
	font-size: 75%;
	font-family: verdana, arial, helvetica;
	font-weight: normal;
	font-style:italic;
	color: #6699CC;
    text-decoration: none
}
A.clsMenuNavigationSubCat_Selected:visited
{
	color: #6699CC;
}
A.clsMenuNavigationSubCat_Selected:hover
{
	color: #6699CC;
    text-decoration: underline
}

A.clsMenuNavigationProduct
{
	font-size: 75%;
	font-family: verdana, arial, helvetica;
	font-weight: bold;
	font-style: italic;
	color: #6699CC;
    text-decoration: none
}
A.clsMenuNavigationProduct:visited
{
	color: #6699CC;
}
A.clsMenuNavigationProduct:hover
{
	color: black;
    text-decoration: underline
}


A.clsBottomMenuNavigation:link
{
	font-size: 100%;
	font-family: verdana, arial, helvetica;
	font-weight: bold;
	color: black;
    text-decoration: none
}

A.clsBottomMenuNavigation:visited
{
	font-size: 100%;
	font-family: verdana, arial, helvetica;
	font-weight: bold;
	color: black;
    text-decoration: none
}

A.clsBottomMenuNavigation:hover
{
	font-size: 100%;
	font-family: verdana, arial, helvetica;
	font-weight: bold;
	color: black;
    text-decoration: underline
}

A.clsBottomMenuNavigation:active
{
	font-size: 100%;
	font-family: verdana, arial, helvetica;
	font-weight: bold;
	color: black;
    text-decoration: none
}

A.copyright
{
    FONT-SIZE: 10pt;
    COLOR: gray;
    FONT-FAMILY: Arial, Arial, Helvetica;
    text-decoration: none
}
A.copyright:visited
{
   COLOR: gray;
}
A.copyright:hover
{
	color: #6699CC;
    text-decoration: underline
}


.copyright
{
    FONT-SIZE: 10pt;
    COLOR: gray;
    FONT-FAMILY: Arial, Arial, Helvetica
}

.NOINDENT
{
    MARGIN-LEFT: 5pt;
    MARGIN-RIGHT: 5pt
}

UL
{
	font-size: 12pt;
	font-family: verdana, arial, helvetica;
	font-weight: normal;
    text-decoration: none
    PADDING-RIGHT: 0pt;
    MARGIN-LEFT: 5pt;
    MARGIN-RIGHT: 5pt;
    LIST-STYLE-TYPE: none
}
UL UL
{
    PADDING-RIGHT: 0pt;
    MARGIN-LEFT: 12pt;
    MARGIN-RIGHT: 5pt;
    LIST-STYLE-TYPE: disc
}
UL UL UL
{
    PADDING-RIGHT: 0pt;
    MARGIN-LEFT: 12pt;
    MARGIN-RIGHT: 5pt;
    LIST-STYLE-TYPE: square
}
UL UL UL UL
{
    PADDING-RIGHT: 0pt;
    MARGIN-LEFT: 12pt;
    MARGIN-RIGHT: 5pt;
    LIST-STYLE-TYPE: circle
}

UL.MainBody
{
	font-size: 12pt;
	font-family: verdana, arial, helvetica;
	font-weight: normal;
    text-decoration: none
    PADDING-RIGHT: 0pt;
    MARGIN-LEFT: 5pt;
    MARGIN-RIGHT: 5pt;
    LIST-STYLE-TYPE: disc
}